#!/bin/bash
alias v='NVIM_APPNAME=nvim-lazyvim nvim'
alias nv='neovide --fork'
alias ls='eza --header --color=always --long --no-time --icons=always --group-directories-first'
alias cp='xcp'
alias cd='z'
alias pn="pnpm"
alias pnpx="pnpm dlx"
alias s="proxychains4"
alias ze="zellij"
alias lg='lazygit'
alias ld='DOCKER_HOST=unix:///run/user/1000/podman/podman.sock lazydocker'
alias mf='musicfox'
alias claude="claude --dangerously-skip-permissions"
alias wget=wget --hsts-file="$XDG_DATA_HOME/wget-hsts"
alias unproxy="unset http_proxy https_proxy all_proxy"

function proxy() {
  export http_proxy=http://127.0.0.1:7890 https_proxy=http://127.0.0.1:7890
  export no_proxy="localhost,127.0.0.1,localaddress,.localdomain.com"
  export all_proxy=socks5://127.0.0.1:7890
  echo -e "🚀 已开启代理",$(curl -s myip.ipip.net)
}

function transfer() {
  curl --progress-bar --upload-file "$1" https://transfer.sh/$(basename "$1") | tee /dev/null
  echo
}

alias transfer=transfer
