* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font", monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
}

#workspaces button:hover {
  background: #3F3F46;
  color: #ffffff;
}

#custom-language,
#custom-checkupdates,
#custom-caffeine,
#custom-weather,
#custom-appmenu,
#window,
#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#network,
#workspaces,
#tray,
#backlight {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  /* border: 1px solid #181825; */
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-caffeine {
  color: #89dceb;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
  margin-left: 10px;
}

#custom-language {
  color: #f38ba8;
  border-left: 0px;
  border-right: 0px;
}

#custom-appmenu {
  color: #f5c2e7;
  margin-left: 20px;
  border-radius: 10px 10px 10px 10px;
}

/* start border style */
/* top and bottom border */
#custom-checkupdates,
#custom-weather,
#cpu,
#memory,
#network,
#pulseaudio
{
  border-top: 1px solid #33ccff;
  border-bottom: 1px solid #33ccff;
}

/* full border */
#custom-appmenu,
#window,
#workspaces,
#tray,
#clock
{
  border: 1px solid #33ccff;
}
#custom-checkupdates {
  border-left: 1px solid #33ccff;
}
#pulseaudio {
  border-right: 1px solid #33ccff;
}
/* end border style */

#custom-checkupdates {
  color: #f5c2e7;
  border-radius: 10px 0px 0px 10px;
}

#window {
  border-radius: 10px;
  margin-left: 10px;
}

#clock {
  color: #fab387;
  border-radius: 10px;
  margin-right: 20px;
}

#network {
  color: #f9e2af;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  color: #89b4fa;
  margin-right: 10px;
  border-radius: 0 10px 10px 0;
}

#pulseaudio.microphone {
  color: #cba6f7;
  margin-right: 20px;
  border-radius: 0 10px 10px 0;
}

#battery {
  color: #a6e3a1;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  border-left: 0px;
}
